nav {
    width: 99.1vw;
    height: 480px;

    background-color: var(--gray-100);
    display: grid;

    #nav {
        text-align: center;
        padding-top: 88px;

        h1 {
            padding-top: 12px;
        }
    }

    #nav-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        padding: 56px 120px;
    }

    .box {
        width: 280px;
        height: 155px;

        border: 1px solid var(--gray-200);
        border-radius: 20px;

        padding: 20px;

        img {
            width: 48px;
            height: 48px;
        }

        h2 {
            font-size: 16px;
            padding-top: 20px;
        }

        p {
            font-size: 14px;
            padding-top: 12px;
        }
    }
}





